@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EFDECC;
}

/*COMEÇO DO RODA CABEÇA*/

.rodacabeca {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar input {
    width: 50rem;
    height: 40px;
    border: solid transparent;
    border-radius: 20px;
    text-align: center;
}

.bnts {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.bnts button {
    padding: 9px;
    font-size: 17px;
    border-radius: 17px;
    background-color: transparent;
    border: 1px solid #23282b;
    color: #23282b;
    margin-right: 20px;
}

.bnts button:hover {
    background-color: #f8f2ec;
    cursor: pointer;
}

/*TERMINOU O RODA CABEÇA*/

.conteinerconversas {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 9rem;
    left: 2rem;
}

.amigosclubes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.amigosclubes button {
    width: 4rem;
    background-color: transparent;
    border: transparent;
    text-align: center;
    margin-right: 1.2rem;
}

.amigosclubes img {
    width: 4rem;
    border-radius: 10px;
}

.amigosclubes button:hover {
    cursor: pointer;
}

.conversasrecentes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conversasrecentes button {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: transparent;
    margin-bottom: 1.2rem;
}

.conversasrecentes button:hover {
    cursor: pointer;
}

.conversasrecentes img {
    width: 4rem;
    border-radius: 10px;
    margin-right: 0.8rem;
}

/*TERMINO DO CONTEINER CONVERSAS*/

/*COMEÇO DO CONTEINER COMENTARIOS*/

.conteinersocial {
    width: 45%;
}

.comentario {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.comentario {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.fotousuariocomentario {
    display: flex;
    flex-direction: row;
}

.fotousuariosocial {
    width: 7rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.fotousuariosocial img {
    width: 7rem;
    border-radius: 10px;
}

.comentariousuario {
    width: 40rem;
}

.comentariousuario {
    word-wrap: break-word;
}

.fotopostadausuario {
    display: flex;
    flex-direction: row;
}

.fotopostadausuario button {
    width: 10rem;
    border-radius: 20px;
    border: transparent;
    background-color: transparent;
    margin: 10px;
}

.fotopostadausuario img {
    width: 10rem;
    height: 15rem;
    border-radius: 20px;
}