@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EFDECC;
}

/*COMEÇO DO RODA CABEÇA*/

.rodacabeca {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar input {
    width: 50rem;
    height: 40px;
    border: solid transparent;
    border-radius: 20px;
    text-align: center;
}

.bnts {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.bnts button {
    padding: 9px;
    font-size: 17px;
    border-radius: 17px;
    background-color: transparent;
    border: 1px solid #23282b;
    color: #23282b;
    margin-right: 20px;
}

.bnts button:hover {
    background-color: #f8f2ec;
    cursor: pointer;
}

/*TERMINOU O RODA CABEÇA*/

.conteinerconversas {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
}

.amigosclubes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.amigosclubes button {
    width: 4rem;
    background-color: transparent;
    border: transparent;
    text-align: center;
    margin-right: 1.2rem;
}

.amigosclubes img {
    width: 4rem;
    border-radius: 10px;

}

.amigosclubes button:hover {
    cursor: pointer;
}

.conversasrecentes {
    display: flex;
    flex-direction: column;
    width: 100%;
}